@media screen and (max-width:1920px) {
    .header {
        width: 20%;
    }
    .main {
        width: 80%;
    }
    .apMain {
        width: 80%;
    }
}

@media screen and (max-width:1600px) {
    .header {
        width: 320px;
    }
    .main {
        width: calc(100% - 320px);
    }
    .topicEnter {
        display: none;
    }
    .articleTopper {
        width: 100%;
    }
    .articleEnter {
        width: 50%;
    }
    .drawingEnter {
        width: 50%;
    }
    .drawingEnterW {
        width: 50%;
    }
}

@media screen and (max-width:1200px) {
    .header {
        width: 260px;
    }
    .main {
        width: calc(100% - 260px);
    }
    .apMain {
        width: calc(100% - 260px);
    }
}

@media screen and (max-width:1100px) {
    .header {
        display: none;
    }
    .main {
        width: 100%;
    }
    .apMain {
        width: 100%;
    }
}

@media screen and (max-width:850px) {
    .header {
        display: none;
    }
    .main {
        width: 100%;
    }
    .apMain {
        width: 100%;
    }
    .articleEnter {
        width: 100%;
    }
    .drawingEnter {
        width: 100%;
    }
    .drawingEnterW {
        width: 100%;
    }
}