* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Noto Sans SC";
    /* font-family: PingFangSC-Regular, sans-serif; */
}

a {
    color: black;
}

li {
    list-style-type: none;
}

html,
body {
    height: 100%;
    /* background-color: #FFFDF8; */
}

.border {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border: #E60012 solid 10px;
    position: fixed;
}

.header {
    /* width: 20%; */
    height: 100%;
    float: left;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
}

.header .hContainer {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    width: calc(100% - 80px);
    height: calc(100% - 80px);
}

.header .hContainer a {
    color: #000000;
}

.header .hContainer .logo {
    width: 100%;
    margin-bottom: 28px;
}

.header .hContainer .logo img {
    width: 100%;
}

.header .hContainer .nav {
    margin-bottom: 28px;
    border-bottom: 1px solid #e7e8e9;
}

.header .hContainer .nav li {
    display: block;
    margin-bottom: 28px;
}

.header .hContainer .nav li .special {
    color: #E60012;
}

.header .hContainer .tags li {
    display: inline-block;
    margin-right: 16px;
    margin-bottom: 14px;
}

.header .hContainer .tags li img {
    width: 24px;
    height: 24px;
}

.header .hContainer .contact {
    margin-top: auto;
}

.header .hContainer .contact li {
    display: inline-block;
    margin-right: 16px;
}

.main {
    height: 100%;
    float: right;
}

.mContainer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    /* background-color: #f5f5f5; */
}


/* articleTopper build */


/* articleTopper build */


/* articleTopper build */

.articleTopper {
    width: 66%;
    height: 300px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e7e8e9;
    /* background-color: #f1f1f1; */
}

.articleTopper .atContainer {
    height: 220px;
    width: 100%;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #e7e8e9;
}

.articleTopper .atContainer .upper {
    height: 120px;
    display: flex;
    justify-content: space-between;
}

.articleTopper .atContainer .upper .u-l {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.articleTopper .atContainer .upper .u-l .tNumber {
    font-size: 12px;
    color: #E60012;
}

.articleTopper .atContainer .upper .u-l h2 {
    font-size: 32px;
    font-weight: 500;
}

.articleTopper .atContainer .upper img {
    width: 200px;
    height: 120px;
}

.articleTopper .atContainer .miner {
    display: flex;
    justify-content: space-between;
}

.articleTopper .atContainer .miner .tag {
    font-size: 14px;
    color: #E60012;
}

.articleTopper .atContainer .miner .date {
    font-size: 14px;
    font-weight: 300;
    color: #8a8b8c;
}

.articleTopper .atContainer .downer {
    margin: 0;
}

.articleTopper .atContainer .downer .des {
    font-size: 14px;
    color: #575859;
}

.articleTopper .atContainer .downer .des a {
    font-size: 14px;
    color: #E60012;
}


/* topicEnter build */


/* topicEnter build */


/* topicEnter build */

.topicEnter {
    width: 33%;
    height: 300px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e7e8e9;
    /* background-color: #e9e9e9; */
}

.topicEnter .teContainer {
    height: 220px;
    width: 100%;
    padding: 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border-right: 1px solid #e7e8e9;
    /* background-color: #e4e4e4; */
}

.topicEnter .teContainer .topicCover img {
    width: 166px;
    height: 220px;
}

.topicEnter .teContainer .t-r {
    padding-left: 24px;
    display: flex;
    flex-direction: column;
}

.topicEnter .teContainer .t-r .topic {
    font-size: 12px;
    color: #E60012;
}

.topicEnter .teContainer .t-r .topicTitle {
    font-size: 20px;
    font-weight: 500;
}


/* articleEnter build */


/* articleEnter build */


/* articleEnter build */

.articleEnter {
    width: 33%;
    height: 300px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e7e8e9;
}

.articleEnter .aeContainer {
    height: 220px;
    width: 100%;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #e7e8e9;
    /* background-color: #fff; */
}

.articleEnter .aeContainer .upper {
    height: 100px;
    display: flex;
    justify-content: start;
}

.articleEnter .aeContainer .upper .cover img {
    height: 90px;
    width: 150px;
}

.articleEnter .aeContainer .upper .u-r {
    height: 100%;
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.articleEnter .aeContainer .upper .u-r .tNumber {
    font-size: 12px;
    color: #E60012;
}

.articleEnter .aeContainer .upper .u-r h2 {
    font-size: 20px;
    font-weight: 500;
}

.articleEnter .aeContainer .upper img {
    width: 200px;
    height: 120px;
}

.articleEnter .aeContainer .miner {
    display: flex;
    justify-content: space-between;
}

.articleEnter .aeContainer .miner .tag {
    font-size: 14px;
    color: #E60012;
}

.articleEnter .aeContainer .miner .date {
    font-size: 14px;
    color: #8a8b8c;
}

.articleEnter .aeContainer .downer {
    margin: 0;
}

.articleEnter .aeContainer .downer .des {
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    color: #575859;
}

.articleEnter .aeContainer .downer .des a {
    font-size: 14px;
    color: #E60012;
}


/* drawingEnter  */

.drawingEnter {
    width: 33%;
    height: 300px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e7e8e9;
}

.drawingEnter .deContainer {
    height: 220px;
    width: 100%;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #e7e8e9;
}

.drawingEnter .deContainer .dCover {
    display: flex;
    justify-content: center;
    height: 168px;
}

.drawingEnter .deContainer .dCover img {
    height: 100%;
}

.drawingEnter .deContainer .des {
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: #E60012;
}

.drawingEnter .deContainer .titleContainer {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
}

.drawingEnterW {
    width: 33%;
    height: 300px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e7e8e9;
}

.drawingEnterW .deContainer {
    height: 220px;
    width: 100%;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #e7e8e9;
}

.drawingEnterW .deContainer .dCover {
    display: flex;
    justify-content: center;
    height: 100%;
}

.drawingEnterW .deContainer .dCover img {
    height: 100%;
}

.drawingEnterW .deContainer .wContainer {
    padding-left: 16px;
}

.drawingEnterW .deContainer .des {
    display: flex;
    font-size: 12px;
    color: #E60012;
}

.drawingEnterW .deContainer .titleContainer {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
}


/* Article page here */


/* Article page here */


/* Article page here */

.apMain {
    height: 100%;
    float: right;
    /* background-color: #f5f5f5; */
}

.apMain .aptContainer {
    width: 100%;
    height: 120px;
    padding-left: 50px;
    font-size: 14px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.apMain .aptContainer h1 {
    font-weight: 500;
}

.apMain .aptContainer h1 span {
    color: #E60012;
}

.apmContainer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
}


/* articlePageEnter */


/* articlePageEnter */


/* articlePageEnter */

.articlePageEnter {
    width: 50%;
    margin-bottom: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.articlePageEnter .cover {
    width: 150px;
    height: 90px;
}

.articlePageEnter .cover img {
    width: 100%;
    height: 100%;
}

.articlePageEnter .righter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 180px);
    margin-left: 20px;
    margin-right: 40px;
    height: 100%;
    border-bottom: 1px solid #e7e8e9;
}

.articlePageEnter .righter .uper {
    margin: 0 0 12px 0;
    display: flex;
    align-items: center;
}

.articlePageEnter .righter .uper .num {
    height: 20px;
    padding: 0 10px;
    flex-shrink: 0;
    background-color: #E60012;
    line-height: 20px;
    font-size: 12px;
    color: #fff;
}

.articlePageEnter .righter .uper .date {
    flex-shrink: 0;
    padding-left: 8px;
    width: 50px;
    font-size: 12px;
    color: #8A8B8C;
}

.articlePageEnter .righter .uper .title {
    padding-left: 8px;
    font-size: 16px;
    font-weight: 500;
    color: #4f4f4f;
}

.articlePageEnter .righter .des {
    margin-bottom: 12px;
    font-size: 12px;
    font-weight: 300;
    color: #4B4C4D;
}

.articlePageEnter .righter .des a {
    font-size: 12px;
    color: #E60012;
}